@font-face {
  font-family: "GeistMono";
  src: url("../fonts/GeistMono-Light.ttf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #feeeee;
  color: #815654;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  line-height: 1.5;
}

nav {
  display: flex;
  font-size: large;
  gap: 0.75rem;
  font-family: "GeistMono";
  padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GeistMono";
}

.current {
  color: green;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 600px;
}

.post-container {
  padding-bottom: 12rem;
}

.welcome {
  text-align: center;

  h1 {
    margin-bottom: 0.1em;
  }
}

.me-picture {
  max-width: 100%;
  max-height: 70vh;
}

.name {
  font-weight: bolder;
  text-decoration: none;
}

.post-list {
  list-style: none;
  padding-left: 0;
}

.post-list-title {
  h2, h3 {
    display: inline;
  }

  h2 {
    margin-right: 0.5em;
  }
}

.post-page-title {
  margin-bottom: 0.1em;
}
