@font-face {
  font-family: "GeistMono";
  src: url("../fonts/GeistMono-Light.ttf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #feeeee;
  color: #815654;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GeistMono";
}

a {
  text-decoration-style: dotted;
  text-underline-position: under;
}

a:link {
  color: #006e89;
}

a:visited {
  color: #90437a;
}

a:focus {
  color: #007652;
}

a:hover {
  color: #007652;
}

a:active {
  color: #954d00;
}

.current {
  color: green;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 600px;
}

.welcome {
  text-align: center;

  h1 {
    margin-bottom: 0.1em;
  }
}

.software-guy {
  font-style: italic;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.me-picture {
  max-width: 100%;
  max-height: 70vh;
}
